<section class="connections-section" *ngIf="jobs.length > 0">
  <span class="section-title">List of Jobs</span>
  <div class="job-grid">
    <mat-card class="job-card" *ngFor="let job of jobs">
      <div class="job-header">
        <img class="company-logo"  [src]="getJobImageUrl(job.job_image)"  alt="Company Logo">
        <div class="company-info">
          <h4>{{ job.company }}</h4>
          <p>{{ job.job_position }}</p>
        </div>
      </div>
      <div class="job-details">
        <p class="job-location"><mat-icon>location_on</mat-icon> {{ job.location }}</p>
        <p class="job-type">{{ job.work_type }}</p>
        <p class="job-posted">Posted {{ job.created_at | date:'shortDate' }}</p>
      </div>
      <div class="job-footer">
          <button mat-flat-button color="primary" [routerLink]="['/apply-job', job.transNo]">Apply Now</button>
      </div>
    </mat-card>
  </div>
</section>
