<h2 style="text-align: center;">Terms of Use</h2>
<mat-dialog-content>
<div class="terms-container">
  <p>Welcome to Nexsuz!</p>
  <p>Nexsuz is your trusted partner in connecting with your professional network, unlocking limitless opportunities and success.</p>

  <p>Our diverse range of services are tailored to provide unlimited opportunities among our users. Nexsuz enables active professionals and companies to register, search, connect, communicate, share, learn, and explore career opportunities, prospect candidates, and target companies, all accessible through our platform.</p>

  <p>Use of Nexsuz Platform</p>
  <p>‘Users’ refers to any individual or company with a valid Nexsuz account and full access to our services. 'Visitors' refers to any individual or company without a valid Nexsuz account but with limited access to our platform and features.</p>

  <p>The Nexsuz platform allows users to create individual or company 'Accounts' or 'Profiles,' which include personal information that may be accessible privately or publicly. Any information you provide must be correct, accurate, and relevant to you as the user.</p>

  <p>To access our platform, you must be at least 18 years old. By registering, signing up, or using any means of registration to access our services, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Nexsuz's relationship with you in relation to this platform. If you disagree with any part of these terms and conditions, please do not access and use our platform.</p>

  <p>General Terms</p>
  <p>The term ‘Nexsuz’ or ‘us’ or ‘we’ refers to D&C Group, whose registered office is in California Garden Square, Burbank Tower 2, 2nd Floor Unit F Domingo M Guevarra St, Highway Hills, Mandaluyong City.</p>

  <p>The content of the pages of this platform is for your general information and use only. It is subject to change without notice, including fees and specifications of our packages.</p>

  <p>The accessibility and operation of this platform rely on technologies outside our control. We do not guarantee continuous accessibility or uninterrupted operation of our platform.</p>

  <p>Disclaimer</p>
  <p>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this platform for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors, and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>

  <p>Your use of any information or materials on this platform is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any services or information available through this platform meet your specific requirements.</p>

  <p>Unauthorized Use</p>
  <p>Unauthorized use of this platform may give rise to a claim for damages and/or be a criminal offense.</p>

  <p>External Links</p>
  <p>From time to time, this platform may include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</p>

  <p>Intellectual Property</p>
  <p>This platform contains material that is owned by or licensed to Nexsuz. This material includes, but is not limited to, the design, layout, look, appearance, and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</p>

  <p>Governing Law</p>
  <p>Use of this platform and these terms are governed by the laws of the Philippines. Any claim relating to the use of the platform shall be heard by the Philippine Courts.</p>

  <p>Revisions to Terms</p>
  <p>We may revise these Terms & Conditions at any time by updating this page. You should visit this page from time to time to review the Terms & Conditions, as they are binding on you. We may modify or discontinue any information or features that form part of the platform at any time, with or without notice to you, and without liability.</p>

  <p>Cookies</p>
  <p>A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added, and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual by gathering and remembering information about your preferences.</p>

  <p>We use traffic log cookies to identify which pages are being used. This helps us analyze data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes, and then the data is removed from the system.</p>

  <p>Overall, cookies help us provide you with a better platform by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>

  <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>

  <p>Links to Other Websites</p>
  <p>Our platform may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites, and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>
</div>

</mat-dialog-content>

<mat-dialog-actions >
  <button  mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>