<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<h2 mat-dialog-title>{{btnSave}} Submenu for TransNo: {{ transNo }}</h2>
<mat-divider></mat-divider>
<mat-card-content>

    <form [formGroup]="submenuForm" (ngSubmit)="saveSubmenus()">

        <div formArrayName="lines" class="submenu-list">
            <div *ngFor="let line of lines.controls; let i = index" [formGroupName]="i" class="submenu-item">
                <div class="form-row">
                    <mat-form-field appearance="standard" class="form-field">
                        <mat-label>Submenu Description</mat-label>
                        <input matInput formControlName="description" placeholder="Description {{i + 1}}" />
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="standard" class="full-width">
                        <mat-label>Route</mat-label>
                        <input matInput formControlName="routes" placeholder="Route {{i + 1}}" />
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="standard" class="full-width">
                        <mat-label>Class</mat-label>
                        <input matInput formControlName="class" placeholder="Class {{i + 1}}" />
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="standard" class="full-width">
                        <mat-label>Sort Order</mat-label>
                        <input matInput type="number" formControlName="sort" placeholder="Sort Order {{i + 1}}" />
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="standard" class="full-width">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="A">Active</mat-option>
                            <mat-option value="I">Inactive</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="standard" class="full-width">
                        <mat-label>Icon</mat-label>
                        <input matInput formControlName="icon" placeholder="Icon {{i + 1}}" />
                    </mat-form-field>
                </div>
                <button mat-icon-button color="warn" (click)="removeSubmenu(i)" *ngIf="lines.length > 1">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>


    </form>
    <div class="button-end">
        <button mat-button color="primary" (click)="addSubmenu()">
            <mat-icon>add_circle</mat-icon>
            Add
        </button>
        <button mat-raised-button color="accent" type="submit" (click)="saveSubmenus()">{{btnSave}}</button>
    </div>
</mat-card-content>