/* Container to center the login card */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .width2{
    margin-bottom: 20px;
  }
  
  .agreement-section {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
    margin: 10px;
  }
  
  .progress-bar {
    margin-bottom: 15px;
    width: 100%;
  }
  
  /* Card styling with scrolling enabled */
  /*  */
  
  /* Full width for form fields and button */
  .full-width {
    width: 100%;
  }
  
  
  .signin-button {
    width: 100%;
  }
  .login-card  {
    width: 100%;
    max-width: 400px; /* Limits card width on larger screens */
    padding: 30px;
    box-shadow: 3 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Enables vertical scrolling */
    border-radius: 10px; 
    max-height: 810px;
    margin-bottom: 0px;
    margin: 10px;
  }
  /* Mobile responsive adjustments */
  @media (max-width: 600px) {
    .login-container {
      padding: 10px;
    }
  
    .login-card {
      padding: 15px;
      max-height: 90vh; /* Allow a bit more height on mobile */
      border-radius: 10px; 
    }
  
    .signin-button {
      margin-top: 2px;
    }
  
  }
  
  