<!-- <div class="not-found-container">
    <h1>404</h1><br>
    <p style="text-align: center;">Page Not Found</p>
     <a href="/homepage">Go Back..</a>

    
  </div>
   -->

<div class="coming-soon-container">
  <h1 class="fade-in">🚧 Coming Soon 🚧</h1>
  <p class="fade-in delay-1">
    We’re working hard to give you the best experience.<br>
    Stay tuned for updates!
  </p>

  <div class="countdown fade-in delay-2">
    <div class="time-box bounce">
      <span>{{ days }}</span>
      <small>Days</small>
    </div>
    <div class="time-box bounce delay-1">
      <span>{{ hours }}</span>
      <small>Hours</small>
    </div>
    <div class="time-box bounce delay-2">
      <span>{{ minutes }}</span>
      <small>Minutes</small>
    </div>
    <div class="time-box bounce delay-3">
      <span>{{ seconds }}</span>
      <small>Seconds</small>
    </div>
  </div>


  <button mat-flat-button color="primary" routerLink="/home" class="pulse">
    Go Back Home
  </button>
</div>