<mat-toolbar class="profile-toolbar">
  <!-- <button mat-button *ngIf="profiles" (click)="clickToBack()">
    <mat-icon>arrow_back</mat-icon>
  </button> -->
  <span class="profile-title slide-left">{{ profileTitle }}</span>
</mat-toolbar>

<div class="stepper-container">

  <mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="onStepChange($event)">

    <!-- Step 1: Basic Information -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{ stepLabels[0] }}</ng-template>

        <div class="profile-container">

          <div class="form-row">
            <!-- File Upload Input -->
            <div class="form-field">
              <label for="photo_pic">Upload Photo</label>
              <input type="file" #fileInput id="photo_pic" accept="image/*" (change)="onUploadPhoto2($event)" />

              <!-- File name display -->
              <div *ngIf="filename" class="file-name">
                📎 Selected: {{ filename }}
              </div>
              <!-- Error display -->
              <mat-error *ngIf="fileError">{{ fileError }}</mat-error>
            </div>
            <!-- Image Preview -->
            <div class="image-preview-container form-field">
              <img [src]="previewUrl || 'assets/default-profile.png'" alt="Profile Picture"
                class="profile-picture-preview" />
            </div>
          </div>

          <!-- Name Fields -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="fname" readonly />
            </mat-form-field>

            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Family Name</mat-label>
              <input matInput formControlName="lname" readonly />
            </mat-form-field>
          </div>
          <!-- Language Buttons -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Profession</mat-label>
              <input matInput formControlName="profession" readonly />
            </mat-form-field>

            <button mat-raised-button color="basic" class="button-field" (click)="onClickNew()">
              <mat-icon>add_circle</mat-icon> Language
            </button>

            <button mat-raised-button color="basic" class="button-field" (click)="viewlanguage()">
              <mat-icon>visibility</mat-icon> View Language
            </button>
          </div>

          <!-- Contact Info -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Contact Number</mat-label>
              <input matInput formControlName="contact_no" />
            </mat-form-field>

            <mat-slide-toggle formControlName="contact_visibility">
              Hide
            </mat-slide-toggle>
          </div>

          <!-- Email -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" readonly />
            </mat-form-field>

            <mat-slide-toggle formControlName="email_visibility">
              Hide
            </mat-slide-toggle>
          </div>

          <!-- Date of Birth -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="date_birth"
                placeholder="Select your date of birth" (dateChange)="validateAge()" />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <!-- <mat-slide-toggle formControlName="dob_visibility">
              Hide DOB
              </mat-slide-toggle> -->
          </div>

          <!-- Submit Button -->
          <div class="button-end">
            <button mat-raised-button color="primary" matStepperNext [disabled]="!isEligible" type="submit"
              (click)="saveProfile()">
              Save & Continue
            </button>
          </div>
        </div>
      </form>

    </mat-step>


    <!-- Step 2: Location Details -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{ stepLabels[1] }}</ng-template>
        <div class="profile-container">
          <mat-divider></mat-divider>

          <!-- Home Country -->
          <div class="form-row">
            <mat-form-field class="form-field" appearance="standard">
              <mat-autocomplete #auto1="matAutocomplete" class="form-field">
                <mat-option *ngFor="let country of filteredCountries1" [value]="country.name">
                  {{ country.name }}
                </mat-option>
              </mat-autocomplete>
              <input matInput [formControl]="countryControl1" [matAutocomplete]="auto1" id="country1"
                placeholder="Your Home Country" tabindex="1">
            </mat-form-field>

            <mat-form-field appearance="standard" class="form-field">
              <mat-label>City, State</mat-label>
              <input matInput formControlName="home_state" required />
            </mat-form-field>
          </div>

          <!-- Current Location -->
          <div class="form-row">
            <mat-form-field class="form-field" appearance="standard">
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let country of filteredCountries2" [value]="country.name">
                  {{ country.name }}
                </mat-option>
              </mat-autocomplete>
              <input matInput [formControl]="countryControl2" [matAutocomplete]="auto2" id="country2"
                placeholder="Your Current Location" tabindex="2">
            </mat-form-field>

            <mat-form-field appearance="standard" class="form-field">
              <mat-label>City, State</mat-label>
              <input matInput formControlName="current_state" required />
            </mat-form-field>

          </div>

          <div class="button-end">
            <button mat-raised-button color="warn" matStepperPrevious>
              Back
            </button>
            <button mat-raised-button color="primary" matStepperNext type="submit" (click)="saveProfile()"
              [disabled]="secondFormGroup.invalid">
              Save & Continue
            </button>
          </div>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="summaryFormGroup">
      <form [formGroup]="summaryFormGroup">
        <ng-template matStepLabel>{{ stepLabels[2] }}</ng-template>
        <div class="profile-container">
          <mat-divider></mat-divider>

          <mat-form-field appearance="standard">
            <mat-label>Summary</mat-label>
            <textarea matInput formControlName="summary" placeholder="Enter summary"></textarea>
          </mat-form-field>


          <div class="button-end">
            <button mat-raised-button color="warn" matStepperPrevious>
              Back
            </button>
            <button mat-raised-button color="primary" [disabled]="summaryFormGroup.invalid" matStepperNext type="submit"
              (click)="saveProfile()">
              Next
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Step 3: ARRAY-->
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>{{ stepLabels[3] }}</ng-template>
        <div class="profile-container">
          <mat-divider></mat-divider>

          <mat-tab-group dynamicHeight (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Education">
              <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>

              <mat-card-header>
                <button mat-button color="basic" class="button-field" (click)="AddEducation()">
                  <mat-icon>add_circle</mat-icon>
                  Add Education
                </button>
              </mat-card-header>

              <!-- ✅ If there is education data -->
              <ng-container *ngIf="formEducation.length > 0; else noEducation">
                <mat-card-content *ngFor="let edu of formEducation; let i = index">
                  <br>
                  <mat-card-title>{{ edu.highest_education }}</mat-card-title>
                  <p><strong>School Name: </strong> {{ edu.school_name }} </p>
                  <p><strong>Start Month:</strong> {{ edu.start_month }} {{ edu.start_year }}</p>
                  <p><strong>End Month:</strong> {{ edu.end_month }} {{ edu.end_year }}</p>
                  <p><strong>Status:</strong> {{ edu.status }}</p>

                  <div class="button-end">
                    <button mat-button color="warn" aria-label="Remove Education" (click)="removeEducation(edu)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-button color="primary" aria-label="Edit Education" (click)="editEducation(edu)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                  <mat-divider></mat-divider>
                </mat-card-content>

              </ng-container>


              <!-- ❌ No data fallback -->
              <ng-template #noEducation>
                <p class="text-center" style="margin-top: 50px;"><strong>No education data found.</strong></p>
              </ng-template>
            </mat-tab>

            <mat-tab label="Skills">
              <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
              <mat-card-header>
                <button mat-button color="basic" class="button-field" (click)="AddSkills()">
                  <mat-icon>add_circle</mat-icon>
                  Add Skills
                </button>
              </mat-card-header>

              <ng-container *ngIf="formSkills.length > 0; else noSkills">
                <div *ngFor="let data of formSkills; let i = index">
                  <mat-card-content><br>
                    <mat-card-title>{{ data.skills}}</mat-card-title>

                    <div class="button-end">
                      <button mat-button color="warn" (click)="removeSkills(data)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-button color="primary" (click)="editSkills(data)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                </div>
              </ng-container>

              <!-- ❌ No data fallback -->
              <ng-template #noSkills>
                <p class="text-center" style="margin-top: 50px;"><strong>No skills data found.</strong></p>
              </ng-template>
            </mat-tab>

            <mat-tab label="Seminar">
              <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
              <mat-card-header>
                <button mat-button color="basic" class="button-field" (click)="AddSeminar()">
                  <mat-icon>add_circle</mat-icon>
                  Add Seminar
                </button>
              </mat-card-header>

              <div>
                <ng-container *ngIf="formSeminar.length > 0; else noData3">
                  <div *ngFor="let data of formSeminar; let i = index">
                    <mat-card-title>{{ data.seminar_title }}</mat-card-title>
                    <mat-card-content>
                      <p><strong>Provider:</strong> {{ data.seminar_provider }}</p>
                      <p><strong>Date:</strong> {{ formatDate(data.date_completed) }}</p>
                    </mat-card-content>

                    <div class="button-end">
                      <button mat-button color="warn" (click)="removeSeminar(data)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-button color="primary" (click)="editSeminar(data)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>

                    <mat-divider></mat-divider>
                  </div>


                </ng-container>
              </div>


              <!-- ❌ No data fallback -->
              <ng-template #noData3>
                <p class="text-center" style="margin-top: 50px;"><strong>No seminar data found.</strong></p>
              </ng-template>
            </mat-tab>

            <mat-tab label="Trainings">

              <!-- <mat-card-header>
                <button mat-button color="basic" class="button-field" (click)="AddTrainings()">
                  <mat-icon>add_circle</mat-icon>
                  Add Training
                </button>
              </mat-card-header> -->
              <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
              <mat-card-header>
                <button mat-button color="basic" class="button-field" (click)="AddTrainings()">
                  <mat-icon>add_circle</mat-icon>
                  Add Training
                </button>
              </mat-card-header>

              <div *ngIf="formTraining.length > 0; else noData4">
                <div *ngFor="let data of formTraining">
                  <mat-card-title>{{ data.training_title }}</mat-card-title>
                  <mat-card-content>
                    <p><strong>Training Provider:</strong> {{ data.training_provider }}</p>
                    <p><strong>Date Completed:</strong> {{ formatDate(data.date_completed) }}</p>
                  </mat-card-content>

                  <div class="button-end">
                    <button mat-button color="warn" (click)="removeTraining(data)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-button color="primary" (click)="editTraining(data)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>

                  <mat-divider></mat-divider>
                </div>
              </div>

              <ng-template #noData4>
                <p class="text-center" style="margin-top: 50px;"><strong>No trainings data found.</strong>
                </p>
              </ng-template>
            </mat-tab>


            <mat-tab label="Certificate">
              <mat-progress-bar *ngIf="isLoading2" mode="indeterminate" color="primary"></mat-progress-bar>
              <mat-card-header>
                <button mat-button color="basic" class="button-field" (click)="AddCertificate()">
                  <mat-icon>add_circle</mat-icon>
                  Add Certificate
                </button>
              </mat-card-header>
              <div *ngIf="formCertificate && formCertificate.length > 0; else noData5">
                <div *ngFor="let data of formCertificate; let i = index">
                  <mat-card-title>{{ data.certificate_title }}</mat-card-title>
                  <mat-card-content>
                    <p><strong>Certificate Provider: </strong> {{ data.certificate_provider }} </p>
                    <p><strong>Date Completed:</strong> {{ formatDate(data.date_completed) }}</p>

                    <div class="button-end">
                      <button mat-button color="warn" (click)="removeCertificate(data)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-button color="primary" (click)="editCertificate(data)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                </div>
              </div>

              <ng-template #noData5>
                <p class="text-center" style="margin-top: 50px;"><strong>No certificates data found.</strong></p>
              </ng-template>
            </mat-tab>

            <mat-tab label="Work Experience">
              <mat-progress-bar *ngIf="isLoading3" mode="indeterminate" color="primary"></mat-progress-bar>
              <mat-card-header>
                <button mat-button color="basic" class="button-field" (click)="AddEmployment()">
                  <mat-icon>add_circle</mat-icon>
                  Add Work Experience
                </button>
              </mat-card-header>

              <div *ngIf="formWorkExperience && formWorkExperience.length > 0; else noData6">

                <div *ngFor="let data of formWorkExperience; let i = index">
                  <mat-card-title>{{ data.company_name }}</mat-card-title>
                  <mat-card-content>
                    <p><strong>Position: </strong> {{ data.position}} </p>
                    <p><strong>Job Description: </strong> {{ data.job_description}} </p>
                    <p><strong>Date Completed:</strong> {{ formatDate(data.date_completed) }}</p>

                    <div class="button-end">
                      <button mat-button color="warn" (click)="removeWorkExp(data)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-button color="primary" (click)="editWorkexperience(data)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>
                  </mat-card-content>
                  <mat-divider></mat-divider>

                </div>
              </div>

              <ng-template #noData6>
                <p class="text-center" style="margin-top: 50px;"><strong>No work experiences data found.</strong></p>
              </ng-template>
            </mat-tab>
          </mat-tab-group>

        </div>
        <div class="button-end" style="margin-top: 10px;">
          <button mat-raised-button color="primary" type="submit" (click)="previewAndFinish()">Preview and
            Finish</button>
        </div>

      </form>


    </mat-step>

  </mat-horizontal-stepper>

  <footer class="mat-footer">
    <mat-divider></mat-divider>
    <div class="button-gap">
      <span>&copy; 2024 Nexsuz</span>
      <!-- <a routerLink="/home">Back to home</a> -->
      <div class="footer-right">
        <span>Terms & Conditions | Privacy Policy</span>
      </div>
    </div>

    <!-- Progress Bar with Number Display -->
    <div class="progress-bar-container">
      <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
      <div class="progress-number">
        <span>{{ progressValue === 100 ? 'Completed' : progressValue + '%' }}</span>
      </div>
    </div>
  </footer>




</div>