<button mat-icon-button class="close-button" (click)="dialogRef.close()">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div class="button-end" *ngIf="btnSave === 'Save'">
  <button mat-button color="primary" type="button" (click)="addCertificate()">
    <mat-icon>add_circle</mat-icon>
    Add More
  </button>
</div>
<h2 mat-dialog-title> {{btnSave}} Certificates</h2>
<mat-divider></mat-divider>

<form [formGroup]="certificateForm" (ngSubmit)="submitForm()">
  <div class="form-group-wrapper" formArrayName="certificate">
    <div *ngFor="let item of certificateArray.controls; let i = index" [formGroupName]="i" class="form-group">
      <div class="form-row">
        <mat-form-field appearance="standard" class="form-field">
          <mat-label>Certificate Title</mat-label>
          <input matInput placeholder="Certificate Title" formControlName="certificate_title" required />
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="standard" class="form-field">
          <mat-label>Certificate Provider</mat-label>
          <input matInput placeholder="Certificate Provider" formControlName="certificate_provider" required />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="standard" class="form-field">
          <mat-label>Date Completed</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date_completed" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <button mat-icon-button color="warn" (click)="removeItemFromArray6('certificate', i)"
        *ngIf="certificateArray.length > 1">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div mat-dialog-actions align="end">
    <button type="submit" mat-raised-button color="primary" [disabled]="certificateForm.invalid">
      {{btnSave}}
    </button>
  </div>
</form>