<div class="spinner-overlay" *ngIf="isUploading">
  <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
  </mat-progress-spinner>
</div>

<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<div class="form-container">
  <form [formGroup]="postForm">
    <div class="profile-info">
      <div class="profile-name">
        <img [src]="getProfileImage(profiles?.photo_pic)" alt="Profile Picture" class="profile-img" />
        <mat-form-field appearance="standard" class="status-dropdown">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" required>
            <mat-option value="" disabled selected>Select Status</mat-option>
            <mat-option *ngFor="let option of statusOptions" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <span class="post-status" *ngIf="profiles2">
        Create Post to {{ getSelectedStatus() }} {{ profiles2.fname }}
      </span>
    </div>

    <mat-dialog-content class="post-content">
      <mat-form-field appearance="outline" class="full-width">
        <textarea matInput placeholder="What do you want to talk about?" formControlName="caption" required></textarea>
        <mat-error *ngIf="postForm.get('caption')?.hasError('required')">
          Post is required.
        </mat-error>
      </mat-form-field>

      <div class="post-actions">
        <!-- Images -->
        <!-- <button mat-icon-button (click)="uploadImage2(data.images)"  class="action-btn">
          <mat-icon>image</mat-icon>
        </button> -->
        <button mat-button class="action-btn" (click)="uploadImage2(uploadedImages)">
          <mat-icon>image</mat-icon>
        </button>
        <!-- Video -->
        <!-- <button mat-button class="action-btn" (click)="onVideoSelected(data)">
          <mat-icon>videocam</mat-icon>
        </button> -->



        <input type="file" accept="video/mp4" #videoInput style="display: none" (change)="onVideoSelected($event)" />
        <button mat-button class="action-btn" (click)="videoInput.click()">
          <mat-icon>videocam</mat-icon>
        </button>
        <div *ngIf="videoWarning" class="warning-box">
          {{ videoWarning }}
        </div>

        <!-- Settings -->
        <!-- <button mat-icon-button class="action-btn">
          <mat-icon>settings</mat-icon>
        </button> -->
      </div>


    </mat-dialog-content>

    <div *ngIf="postForm">
      <!-- Images -->
      <!-- <div *ngIf="data?.images?.length">
        <img *ngFor="let img of data.images" [src]="img.path_url" alt="Post Image" />
      </div> -->

      <!-- Videos
      <div *ngIf="data?.videos?.length">
        <video #videoPlayer width="100%" height="auto" controls preload="metadata" (play)="onPlay()" (pause)="onPause()"
          (ended)="onPause()" (timeupdate)="updateProgress2(videoPlayer)">
          <source [src]="data.videos[0]?.path_url" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div> -->
    </div>


  </form>


</div>
<br>
<div class="button-end">
  <button mat-flat-button color="primary" [disabled]="postForm.invalid || isUploading" (click)="postData()">
    {{btnSave}}
  </button>
</div>