<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<h2 mat-dialog-title>
    Plan Features - {{ data.plan_name }}
</h2>
<mat-dialog-content>
    <!-- <div class="mb-3">
        <button mat-raised-button color="basic"  (click)="new()">
            Add Features
        </button>
    </div> -->

    <mat-table [dataSource]="dataSource" class="mat-elevation-z2">

        <ng-container matColumnDef="fid">
            <mat-header-cell *matHeaderCellDef>
                Feature ID
            </mat-header-cell>

            <mat-cell *matCellDef="let row">
                {{ row.fid }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="feature_name">
            <mat-header-cell *matHeaderCellDef>
                Feature Name
            </mat-header-cell>

            <mat-cell *matCellDef="let row">
                {{ row.feature_name }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="recordStatus">
            <mat-header-cell *matHeaderCellDef>
                Status
            </mat-header-cell>

            <mat-cell *matCellDef="let row">
                {{ row.recordStatus }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">

            <mat-header-cell *matHeaderCellDef>
                Actions
            </mat-header-cell>

            <mat-cell *matCellDef="let row">

                <button mat-icon-button color="primary" (click)="edit(row)">

                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="delete(row)">

                    <mat-icon>delete</mat-icon>
                </button>

            </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</mat-dialog-content>
