<app-cookies-ui></app-cookies-ui>
<router-outlet></router-outlet>

<!-- <div class="floating-btn"  *ngIf="showWebsiteChat" @fadeInUp>
  <button class="btn btn-info" matTooltip="Messages" (click)="openChat()">
    <i class="fa-solid fa-comment custom-icon"></i>
  </button>
</div> -->


<!-- <div class="floating-btn" *ngIf="isLoggedIn && showChatButton" @fadeInUp>
    <button class="btn btn-info" matTooltip="Messages" (click)="openChat()">
      <i class="fa-solid fa-comment custom-icon"></i>
    </button>
  </div> -->

  <!-- WEBSITE CHAT
  <div class="floating-btn" *ngIf="showWebsiteChat" @fadeInUp>
    <button mat-fab color="primary" matTooltip="Messages" (click)="openChat1()" class="btn info" >
      <mat-icon>chat</mat-icon>
    </button>
  </div> -->


  <!-- WEBSITE CHAT -->
<!-- <div class="floating-btn" *ngIf="showWebsiteChat" @fadeInUp>
  <button class="btn btn-info" matTooltip="Messages" (click)="openChat1()">
    <i class="fa-solid fa-comment custom-icon"></i>

  </button>
</div> -->

