<button mat-icon-button class="close-button" (click)="onClose()">
    <mat-icon color="warn">close</mat-icon>
</button>

<h2 mat-dialog-title>{{ btnSave }} Plan</h2>
<mat-divider></mat-divider>

<form [formGroup]="planForm">
    <div class="form-row">
        <mat-form-field appearance="standard" class="w-100">
            <mat-label>Plan Name</mat-label>
            <input matInput formControlName="plan_name">
            <mat-error *ngIf="planForm.get('plan_name')?.hasError('required')">
                Plan Name is required
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-row">
        <mat-form-field appearance="standard" class="w-60">
            <mat-label>Button Name</mat-label>
            <input matInput formControlName="button_name">
            <mat-error *ngIf="planForm.get('button_name')?.hasError('required')">
                Button Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="w-40">
            <mat-label>Sort Order</mat-label>
            <input matInput type="number" formControlName="sort_number" min="1">
            <mat-error *ngIf="planForm.get('sort_number')?.hasError('required')">
                Sort Order is required
            </mat-error>
            <mat-error *ngIf="planForm.get('sort_number')?.hasError('min')">
                Must be greater than 0
            </mat-error>
        </mat-form-field>
    </div>

    <!-- Price -->
    <div class="form-row">
        <mat-form-field appearance="standard" class="w-40">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price">
            <mat-error *ngIf="planForm.get('price')?.hasError('required')">
                Price is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="w-60">
            <mat-label>Select</mat-label>
            <mat-select formControlName="tagmonthYear">
                <mat-option value="Monthly">Monthly</mat-option>
                <mat-option value="Yearly">Yearly</mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <!-- Tag -->
    <div class="form-row">
        <mat-form-field appearance="standard" class="w-40">
            <mat-label>Tag</mat-label>
            <mat-select formControlName="tag">
                <mat-option value="STARTER">STARTER</mat-option>
                <mat-option value="MOST POPULAR">MOST POPULAR</mat-option>
                <mat-option value="PREMIUM">PREMIUM</mat-option>
                <mat-option value="BUSINESS">BUSINESS</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard" class="w-30">
            <mat-label>Button Color</mat-label>
            <mat-select formControlName="button_color">
                <mat-option value="basic">Basic</mat-option>
                <mat-option value="primary">Primary</mat-option>
                <mat-option value="accent">Accent</mat-option>
                <mat-option value="warn">Warn</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard" class="w-30">
            <mat-label>Status</mat-label>
            <mat-select formControlName="recordStatus">
                <mat-option *ngFor="let status of statusList" [value]="status.value">
                    {{ status.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
    </div>
    <div class="form-row">
        <!-- Description -->
        <mat-form-field appearance="standard" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput rows="3" formControlName="description"></textarea>
        </mat-form-field>
    </div>
</form>

<div class="button-end">
    <button mat-raised-button color="primary" type="button" (click)="save()">
        {{ btnSave }}
    </button>

</div>