<section class="section">
  <!-- Search & Refresh -->
  <div class="search-div">
    <mat-form-field appearance="standard" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" [placeholder]="placeHolder" (keyup)="applyFilter()" autocomplete="off" />
      <button mat-icon-button matSuffix aria-label="Clear" *ngIf="searchKey" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-button color="accent" (click)="fetchSecurityRoles()">
      <mat-icon>refresh</mat-icon> Refresh
    </button>
  </div>

  <!-- Table -->
  <mat-table [dataSource]="dataSource" class="mat-elevation-z4" matSort>
    <!-- ID -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <!-- Rolecode -->
    <ng-container matColumnDef="rolecode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rolecode</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.rolecode }}</mat-cell>
    </ng-container>

    <!-- Description -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
    </ng-container>

    <!-- Created By -->
    <ng-container matColumnDef="created_by">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created By</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.created_by }}</mat-cell>
    </ng-container>

    <!-- Updated By -->
    <ng-container matColumnDef="updated_by">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Updated By</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.updated_by }}</mat-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="edit(element)">
          <mat-icon>security</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- No Data Row -->
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6" class="no-data">
        No data available
      </mat-footer-cell>
    </ng-container>

    <!-- Rows -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <!-- Show this footer row only if no data -->
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{ hide: dataSource.data.length > 0 }">
    </mat-footer-row>
  </mat-table>

  <!-- Loader -->
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary">
  </mat-progress-bar>

  <!-- Paginator -->
  <mat-paginator class="mat-paginator-sticky" [pageSize]="10" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</section>