<div class="section">

  <!-- Cover Photo -->
  <div *ngIf="!isloading; else coverSkeleton" class="cover-photo">
    <img [src]="coverphoto?.coverphoto || 'assets/images/default-cover.png'" alt="Cover Photo"
      class="cover-photo-img" />
    <!-- <button *ngIf="profiles?.btnCurriculum === 1" mat-button class="edit-cover-btn">Edit cover photo</button> -->
  </div>

  <ng-template #coverSkeleton>
    <div class="skeleton skeleton-img" style="height:200px;width:100%;border-radius:0;"></div>
  </ng-template>

  <!-- Profile Details -->
  <div *ngIf="!isloading; else profileSkeleton" class="profile-details">
    <div class="profile-info" *ngIf="profiles">
      <div class="profile-picture">
        <div class="avatar-container">
          <img class="profile-img" [src]="profiles?.photo_pic || 'assets/images/default.png'" alt="Profile" />
          <mat-icon class="status-icon online">circle</mat-icon>
        </div>
      </div>
      <br>
      <h1>{{ profiles.fname }} {{ profiles.lname }}
        <small style="color: rgb(24, 24, 24);">{{ profiles.profession }}</small>
      </h1>
      <p>761 followers · 369 following</p>
      <div class="button-gap">
        <button *ngIf="profiles?.btnCurriculum === 1" mat-flat-button color="primary"
          (click)="feature.can('CREATE_RESUME') ? UserCV() : sharedRoutines.openUpgradeModal()">
          New Curriculum Vitae
        </button>
        <button *ngIf="profiles?.btnCurriculum === 1" mat-raised-button (click)="uploadPic()">
          <mat-icon>cloud_upload</mat-icon> Upload
        </button>

        <button mat-flat-button [color]="
          followStatus === 'accepted' ? 'accent' :
          followStatus === 'pending' ? 'warn' : 'primary'" *ngIf="currentUserCode !== this.code"
          (click)="AddFollow(code, followStatus, profiles.fname, profiles.lname)"
          [disabled]="followStatus === 'pending'">
          <mat-icon *ngIf="followStatus === 'none' || followStatus === 'cancelled'">person_add</mat-icon>
          <mat-icon *ngIf="followStatus === 'pending'" class="hourglass-animated">hourglass_top</mat-icon>
          <mat-icon *ngIf="followStatus === 'accepted'">check_circle</mat-icon>

          <ng-container [ngSwitch]="followStatus">
            <span *ngSwitchCase="'none'">Connect</span>
            <span *ngSwitchCase="'pending'">Pending</span>
            <span *ngSwitchCase="'accepted'">Connected</span>
            <span *ngSwitchCase="'cancelled'">Connect</span>
          </ng-container>
        </button>
      </div>
    </div>
  </div>

  <ng-template #profileSkeleton>
    <div class="profile-skeleton">
      <div class="skeleton skeleton-avatar"></div>
      <div class="skeleton skeleton-text" style="width:40%"></div>
      <div class="skeleton skeleton-text" style="width:20%"></div>
    </div>
  </ng-template>

  <!-- Tabs -->
  <mat-tab-group class="tabs-container">

    <!-- Posts Tab -->
    <mat-tab label="Posts">
      <div *ngIf="isloading">
        <mat-card class="post-box-container">
          <mat-card-header>
            <div class="skeleton skeleton-avatar"></div>
            <div class="skeleton skeleton-text" style="width: 50%"></div>
          </mat-card-header>
          <div class="skeleton skeleton-img"></div>
          <div class="skeleton skeleton-text"></div>
          <div class="skeleton skeleton-text" style="width: 70%"></div>
        </mat-card>
      </div>

      <div *ngIf="!isloading">
        <app-private-post></app-private-post>
        <!-- <div *ngFor="let post of posts">
          <mat-card class="post-box-container" *ngIf="profiles">
            <mat-card-header>
              <div mat-card-avatar class="avatar">
                <img [src]="profiles?.photo_pic || 'assets/default.png'" alt="Profile Picture">
              </div>
              <mat-card-title>{{ post.Fullname }}</mat-card-title>
              <p class="post-privacy">
                <mat-icon>{{ post.status === 1 ? 'public' : 'lock' }}</mat-icon>
                {{ post.status === 1 ? 'Public' : 'Private' }}
              </p>
              <mat-card-subtitle>
                <span class="followers">{{ followers }} followers</span> •
                <span class="active-hours">Active {{ activeHours }} ago</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="linkedin-post">
              <div *ngIf="post">
                <p class="content-display">
                  {{ post.expanded ? post.caption : (post.caption | slice:0:100) + '...' }}
                  <a *ngIf="post.caption.length > 180" (click)="post.expanded = !post.expanded" class="see-more">
                    {{ post.expanded ? 'See Less' : 'See More' }}
                  </a>
                </p>
              </div>

              <div class="fb-gallery"
                [ngClass]="{ 'single': (post.images?.length + post.videos?.length) === 1, 'multi': (post.images?.length + post.videos?.length) > 1 }">
                <div class="gallery-item" *ngFor="let image of post.images?.slice(0, maxImages); let i = index"
                  [ngClass]="{ 'large': (post.images?.length + post.videos?.length) === 1 || i === 0 }"
                  (click)="openModal(post.images)">
                  <img [src]="image.path_url" alt="Gallery image" />
                  <div class="overlay" *ngIf="i === (maxImages - 1) && post.images?.length > maxImages">
                    +{{ post.images.length - maxImages }}
                  </div>
                </div>

                <div class="gallery-item" *ngFor="let video of post.videos?.slice(0, maxImages); let j = index"
                  [ngClass]="{ 'large': (post.images?.length + post.videos?.length) === 1 || j === 0 }"
                  (click)="openModal(post.videos)">
                  <video controls [src]="video.path_url"></video>
                  <div class="overlay" *ngIf="j === (maxImages - 1) && post.videos?.length > maxImages">
                    +{{ post.videos.length - maxImages }}
                  </div>
                </div>
              </div>
            </div>

            <mat-card-actions class="interaction-buttons">
              <div class="like-button-wrapper" (mouseenter)="showReactions = true">
                <button mat-button color="primary">
                  <mat-icon>{{ hoveredReaction?.emoji || selectedReactions[post.id]?.emoji || 'thumb_up' }}</mat-icon>
                </button>
                <div class="reactions-popup" *ngIf="showReactions">
                  <div class="reaction" *ngFor="let r of reactions" (mouseenter)="onReactionHover(post, r)">
                    <span>{{ r.emoji }}</span>
                  </div>
                </div>
              </div>

              <button mat-button color="primary" (click)="openModal(post.attachments)">
                <mat-icon matBadge="{{ post.comments?.length || 0 }}" matBadgeColor="accent" matBadgeSize="small"
                  matBadgeOverlap="false">
                  chat
                </mat-icon>
                Comment
              </button>

              <button mat-button><mat-icon>repeat</mat-icon> Repost</button>
              <button mat-button><mat-icon>send</mat-icon> Send</button>
            </mat-card-actions>

          </mat-card>
        </div>-->
      </div>
    </mat-tab>

    <!-- Basic Information Tab -->
    <mat-tab label="Basic Information">
      <div class="tab-content">
        <mat-card-content>
          <mat-card class="mat-card2" *ngIf="profiles; else noProfile">
            <mat-list>
              <mat-list-item *ngIf="profiles.fname || profiles.lname">Full Name: {{ profiles.fname }} {{ profiles.lname
                }}</mat-list-item>
              <mat-list-item *ngIf="profiles.contact_no">Contact No: {{ profiles.contact_no }}</mat-list-item>
              <mat-list-item *ngIf="profiles.email">Email: {{ profiles.email }}</mat-list-item>
              <mat-list-item *ngIf="profiles.profession">Profession: {{ profiles.profession }}</mat-list-item>
              <mat-list-item *ngIf="profiles.date_birth">Date of Birth: {{ profiles.date_birth }}</mat-list-item>
              <mat-list-item *ngIf="profiles.companywebsite">Company Website: {{ profiles.companywebsite
                }}</mat-list-item>
            </mat-list>
          </mat-card>

          <mat-card class="mat-card2" *ngIf="profiles?.lines?.language?.length; else noData">
            <h2>Languages</h2>
            <mat-list>
              <mat-list-item *ngFor="let language of profiles.lines.language">{{ language.language }}</mat-list-item>
            </mat-list>
          </mat-card>

          <ng-template #noProfile>
            <mat-card class="mat-card2">
              <p class="no-data">No profile data available.</p>
            </mat-card>
          </ng-template>

          <ng-template #noData>
            <p class="no-data">No data available.</p>
          </ng-template>

        </mat-card-content>
      </div>
    </mat-tab>

    <!-- Education Tab -->
    <mat-tab label="Education">
      <div class="tab-content">
        <mat-card-content>
          <section class="cv-section" *ngIf="profiles?.lines?.education?.length > 0; else noData">
            <div *ngFor="let education of profiles.lines.education">
              <mat-card class="mat-card2">
                <mat-list>
                  <mat-list-item>Highest Education: {{ education.highest_education }}</mat-list-item>
                  <mat-list-item>School Name: {{ education.school_name }}</mat-list-item>
                  <mat-list-item>Start Month: {{ education.start_month }}</mat-list-item>
                  <mat-list-item>Start Year: {{ education.start_year }}</mat-list-item>
                  <mat-list-item>End Month: {{ education.end_month }}</mat-list-item>
                  <mat-list-item>End Year: {{ education.end_year }}</mat-list-item>
                </mat-list>
              </mat-card>
            </div>
          </section>

          <!-- No data template -->
          <ng-template #noData>
            <mat-card class="mat-card2">
              <p class="no-data">No data available.</p>
            </mat-card>
          </ng-template>

        </mat-card-content>
      </div>
    </mat-tab>

    <!-- Skills Tab -->
    <mat-tab label="Skills">
      <div class="tab-content">
        <mat-card-content class="mat-card2">
          <section *ngIf="profiles?.lines?.skills?.length > 0; else noData">
            <mat-list>
              <mat-list-item *ngFor="let skill of profiles.lines.skills">{{ skill.skills }}</mat-list-item>
            </mat-list>
          </section>
        </mat-card-content>
      </div>
    </mat-tab>

    <!-- Seminar Tab -->
    <mat-tab label="Seminar">
      <div class="tab-content">
        <mat-card class="mat-card2">
          <section class="cv-section" *ngIf="profiles?.lines?.seminar?.length > 0; else noData">
            <mat-list *ngFor="let seminar of profiles.lines.seminar">
              <mat-list-item>Seminar Title: {{ seminar.seminar_title }}</mat-list-item>
              <mat-list-item>Seminar Provider: {{ seminar.seminar_provider }}</mat-list-item>
              <mat-list-item>Date Completed: {{ seminar.date_completed }}</mat-list-item>
            </mat-list>
          </section>
        </mat-card>
      </div>
    </mat-tab>

    <!-- Trainings Tab -->
    <mat-tab label="Trainings">
      <div class="tab-content">
        <mat-card-content>
          <mat-card class="mat-card2">
            <section class="cv-section" *ngIf="profiles?.lines?.training?.length > 0; else noData">
              <mat-list *ngFor="let training of profiles.lines.training">
                <mat-list-item>Training Title: {{ training.training_title }}</mat-list-item>
                <mat-list-item>Training Provider: {{ training.training_provider }}</mat-list-item>
                <mat-list-item>Date Completed: {{ training.date_completed }}</mat-list-item>
              </mat-list>
            </section>
          </mat-card>
        </mat-card-content>
      </div>
    </mat-tab>

    <!-- Certificates Tab -->
    <mat-tab label="Certificates">
      <div class="tab-content">
        <mat-card-content>
          <mat-card class="mat-card2">
            <section class="cv-section" *ngIf="profiles?.lines?.certificate?.length > 0; else noData">
              <mat-list *ngFor="let certificates of profiles.lines.certificate">
                <mat-list-item>Certificate Title: {{ certificates.certificate_title }}</mat-list-item>
                <mat-list-item>Certificate Provider: {{ certificates.certificate_provider }}</mat-list-item>
                <mat-list-item>Date Completed: {{ certificates.date_completed }}</mat-list-item>
              </mat-list>
            </section>
          </mat-card>
        </mat-card-content>
      </div>
    </mat-tab>

    <!-- Work Experience Tab -->
    <mat-tab label="Work Experience">
      <div class="tab-content">
        <mat-card-content>
          <mat-card class="mat-card2">
            <section class="cv-section" *ngIf="profiles?.lines?.employment?.length > 0; else noData">
              <mat-list *ngFor="let job of profiles.lines.employment">
                <mat-list-item>Company Name: {{ job.company_name }}</mat-list-item>
                <mat-list-item>Position: {{ job.position }}</mat-list-item>
                <mat-list-item>Description: {{ job.job_description }}</mat-list-item>
                <mat-list-item>Date Completed: {{ job.date_completed }}</mat-list-item>
              </mat-list>
            </section>
          </mat-card>
        </mat-card-content>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>