<h2 mat-dialog-title>Edit Skill</h2>

<form #skillForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field appearance="standard" class="full-width">
      <mat-label>Skill</mat-label>
      <input
        matInput
        placeholder="Skill"
        [(ngModel)]="data.skills"
        name="skill"
        required
        [matAutocomplete]="auto" cdkFocusInitial 
        (input)="filterSkills($any($event.target)?.value)"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSkillSelected($event)">
        <mat-option *ngFor="let skill of filteredSkills" [value]="skill">
          {{ skill }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="button-end">
    <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="updateSkill()" [disabled]="skillForm.invalid">
      Update
    </button>
  </div>
</form>
