
<div class="stepper-container">
 
  <mat-stepper orientation="vertical" class="scroll-container">
    <!-- Loading Overlay -->
    <div class="loading-overlay" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  
    <!-- Step 1: Basic Information -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Basic Information</ng-template>
        <div class="profile-container">
          <h2>Build Your Profile</h2>
          <mat-divider></mat-divider>
  
          <!-- Name Fields -->
           
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>First Name</mat-label>
              <input matInput [value]="fname" readonly />
            </mat-form-field>
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Family Name</mat-label>
              <input matInput [value]="lname" readonly />
            </mat-form-field>
          </div>
  
          <!-- Upload Profile Picture -->
          <div class="form-row">
            <mat-label>Upload Photo</mat-label>
            <input type="file" (change)="onFileSelected2($event)" />
            <mat-error *ngIf="fileError">
              {{ fileError }}
            </mat-error>
          </div>
          <!-- Image Preview -->
          <!-- <div *ngIf="previewUrl" class="image-preview-container">
            <img
              [src]="previewUrl"
              alt="Profile Picture Preview"
              class="profile-picture-preview"
            />
          </div> -->
     
          <!-- Other Basic Details -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Profession</mat-label>
              <input matInput [value]="profession" readonly />
            </mat-form-field>
          </div>
  
          <!-- Contact Number -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Contact Number</mat-label>
              <input
                type="text"
                matInput
                formControlName="contact_no"
                placeholder="Enter your contact number"
                required
              />
            </mat-form-field>
  
            <a class="change-link">Change</a>
            <mat-slide-toggle
              [checked]="false"
              (change)="onToggleChange($event, 'contact_visibility')"
              formControlName="contact_visibility"
            >
              Hide
            </mat-slide-toggle>
          </div>
  
          <!-- Email -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Email</mat-label>
              <input
                matInput
               
                placeholder="Enter your email"
                required
              />
            </mat-form-field>
  
            <a class="change-link">Change</a>
            <mat-slide-toggle
              [checked]="false"
              (change)="onToggleChange($event, 'email_visibility')"
              formControlName="email_visibility"
            >
              Hide
            </mat-slide-toggle>
          </div>
  
          <!-- Date of Birth -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Date of Birth</mat-label>
              <input
                matInput
                [matDatepicker]="picker1"
                formControlName="date_birth"
                placeholder="Select your date of birth"
                required
              />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
  
            <mat-slide-toggle>Hide</mat-slide-toggle>
          </div>
  
          <!-- Navigation -->
          <div class="button-gap">
            <button
              mat-raised-button
              color="primary"
              [disabled]="firstFormGroup.invalid"
              matStepperNext
            >
              Next
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Step 2: Location Details -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Location Details</ng-template>
        <div class="profile-container">
          <h2>Build Your Profile</h2>
          <mat-divider></mat-divider>

          <!-- Home Country -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Your Home Country</mat-label>
              <mat-select formControlName="home_country" required>
                <mat-option
                  *ngFor="let country of countryCodes"
                  [value]="country.country"
                >
                  {{ country.country }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>City, State</mat-label>
              <input matInput formControlName="home_state" required />
            </mat-form-field>
          </div>

          <!-- Current Location -->
          <div class="form-row">
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>Your Current Country</mat-label>
              <mat-select formControlName="current_location" required>
                <mat-option
                  *ngFor="let country of countryCodes"
                  [value]="country.country"
                >
                  {{ country.country }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard" class="form-field">
              <mat-label>City, State</mat-label>
              <input matInput formControlName="current_state" required />
            </mat-form-field>
          </div>

          <div class="button-gap">
            <button mat-raised-button color="warn" matStepperPrevious>
              Back
            </button>
            <button
              mat-raised-button
              color="primary"
              [disabled]="firstFormGroup.invalid"
              matStepperNext
            >
              Next
            </button>
          </div>
        </div>
      </form>
    </mat-step>


    <!--Summary-->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Summary</ng-template>
        <div class="profile-container">
          <h2>Build Your Profile</h2>
          <mat-divider></mat-divider>
         
          <mat-form-field appearance="standard">
            <mat-label>Summary</mat-label>
            <textarea
              matInput
              formControlName="summary"
              placeholder="Enter summary"
            ></textarea>
          </mat-form-field>


          <div class="button-gap">
            <button mat-raised-button color="warn" matStepperPrevious>
              Back
            </button>
            <button
              mat-raised-button
              color="primary"
              [disabled]="firstFormGroup.invalid"
              matStepperNext
            >
              Next
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Step 3: ARRAY  -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Professional Development</ng-template>
        <div class="profile-container">
          <h2>Build Your Profile</h2>
          <mat-divider></mat-divider>

          <!-- Capability Section -->
          <div formGroupName="lines">
            <h3>Language</h3>
            <button
              mat-button
              color="primary"
              (click)="addItemToArray('capability')"
            >
              Add More
            </button>

            <div formArrayName="capability">
              <div
                *ngFor="let item of capabilityArray.controls; let i = index"
                [formGroupName]="i"
              >
                <mat-form-field appearance="standard">
                  <mat-label>Language</mat-label>
                  <input
                    matInput
                    formControlName="language"
                    placeholder="Enter Language"
                  />
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Skills</mat-label>
                  <textarea
                    matInput
                    formControlName="skills"
                    placeholder="Enter Skills"
                  ></textarea>
                </mat-form-field>

                <button
                  mat-icon-button
                  color="warn"
                  (click)="removeItemFromArray('capability', i)"
                  *ngIf="capabilityArray.length > 1"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>

            <br />
            <h3>Education</h3>
            <button mat-button color="primary" (click)="addeducation()">
              Add Education
            </button>
            <div formArrayName="education">
              <div
                *ngFor="let item of educationArray.controls; let i = index"
                [formGroupName]="i"
              >
                <mat-form-field appearance="standard">
                  <mat-label>Enter Education</mat-label>
                  <input
                    matInput
                    placeholder="Enter Education"
                    formControlName="highest_education"
                  />
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>School Name</mat-label>
                  <input
                    matInput
                    formControlName="skills"
                    placeholder="Enter school name"
                    formControlName="school_name"
                  />
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Year Entry</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="year_entry"
                    placeholder="Enter year entry"
                  />
                </mat-form-field>
                

                <mat-form-field appearance="standard">
                  <mat-label>Year Entry</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="year_end"
                    placeholder="Enter year end"
                  />
                </mat-form-field>

                <button
                  mat-icon-button
                  color="warn"
                  (click)="removeItemFromArray2('education', i)"
                  *ngIf="educationArray.length > 1"
                >
                  <mat-icon>delete</mat-icon>
                </button>

                  <mat-radio-group aria-label="Select education status" class="radio-group" formControlName="status">
                    <mat-radio-button *ngFor="let option of educationStatusOptions" [value]="option.value">
                      {{ option.label }}
                    </mat-radio-button>
                  </mat-radio-group>
                
                
              </div>
            </div>

            <!-- <Trainings -->
            <br />
            <h3>Trainings</h3>
            <button mat-button color="primary" (click)="addTraining()">
              Add More
            </button>

            <div formArrayName="training">
              <div
                *ngFor="let item of trainingArray.controls; let i = index"
                [formGroupName]="i"
              >
                <mat-form-field appearance="standard">
                  <mat-label>Enter Training</mat-label>
                  <input
                    matInput
                    placeholder="Enter Training Title"
                    formControlName="training_title"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Enter Training Provider</mat-label>
                  <input
                    matInput
                    placeholder="Enter Training Provider"
                    formControlName="training_provider"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="standard" class="form-field">
                  <mat-label>Date Completed</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="trainingdate"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button
                  mat-icon-button
                  color="warn"
                  (click)="removeItemFromArray3('training', i)"
                  *ngIf="trainingArray.length > 1"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>

            <!-- <Seminar -->
            <br />
            <h3>Seminar</h3>
            <button mat-button color="primary" (click)="addSeminar()">
              Add More
            </button>
            <div formArrayName="seminar">
              <div
                *ngFor="let item of seminarArray.controls; let i = index"
                [formGroupName]="i"
              >
                <mat-form-field appearance="standard">
                  <mat-label>Enter Seminar</mat-label>
                  <input
                    matInput
                    placeholder="Enter Seminar"
                    formControlName="seminar_title"
                  />
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Provider</mat-label>
                  <input
                    matInput
                    placeholder="Enter Provider"
                    formControlName="seminar_provider"
                  />
                </mat-form-field>

                <mat-form-field appearance="standard" class="form-field">
                  <mat-label>Date Completed</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="seminardate"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button
                  mat-icon-button
                  color="warn"
                  (click)="removeItemFromArray4('seminar', i)"
                  *ngIf="seminarArray.length > 1"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>

            <!-- employment -->
            <br />
            <h3>Employment</h3>
            <button mat-button color="primary" (click)="addSeminar()">
              Add More
            </button>
            <div formArrayName="employment">
              <div
                *ngFor="let item of employmentArray.controls; let i = index"
                [formGroupName]="i"
              >
                <mat-form-field appearance="standard">
                  <mat-label>Company Name</mat-label>
                  <input
                    matInput
                    placeholder="Enter company_name"
                    formControlName="company_name"
                  />
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Position</mat-label>
                  <input
                    matInput
                    placeholder="Enter Position"
                    formControlName="position"
                  />
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Job_description</mat-label>
                  <input
                    matInput
                    placeholder="Enter job_description"
                    formControlName="job_description"
                  />
                </mat-form-field>

                <mat-form-field appearance="standard" class="form-field">
                  <mat-label>Date Completed</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="date_completed"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button
                  mat-icon-button
                  color="warn"
                  (click)="removeItemFromArray5('employment', i)"
                  *ngIf="employmentArray.length > 1"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>

            <!-- certificate -->
            <br />
            <h3>Certificate</h3>
            <button mat-button color="primary" (click)="addCertificate()">
              Add More
            </button>
            <div formArrayName="certificate">
              <div
                *ngFor="let item of certificateArray.controls; let i = index"
                [formGroupName]="i"
              >
                <mat-form-field appearance="standard">
                  <mat-label>Certificate Title</mat-label>
                  <input
                    matInput
                    placeholder="Enter Certificate Title"
                    formControlName="certificate_title"
                  />
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Certificate Provider</mat-label>
                  <input
                    matInput
                    placeholder="Enter certificate_provider"
                    formControlName="certificate_provider"
                  />
                </mat-form-field>

                <mat-form-field appearance="standard" class="form-field">
                  <mat-label>Date Completed</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="date_completed"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button
                  mat-icon-button
                  color="warn"
                  (click)="removeItemFromArray6('certificate', i)"
                  *ngIf="certificateArray.length > 1"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>

            <!-- Lines -->
          </div>

          <!-- Navigation -->
          <div class="button-gap">
            <!-- <button mat-raised-button color="warn" matStepperPrevious>
              Back -->
            <!-- </button>
            <button mat-raised-button type="submit" (click)="submit()" [disabled]="!firstFormGroup.valid || 
            !secondFormGroup.valid || !summaryFormGroup.valid || !thirdFormGroup.valid">Finish</button>
         
          </div> -->
          <button mat-raised-button type="submit" (click)="submit()">Finish</button>
       
        </div>
         
        </div>
      </form>
    </mat-step>
  </mat-stepper>

  <footer class="mat-footer">
    <mat-divider></mat-divider>
    <div class="footer-content">
      <div class="footer-left">
        <span>&copy; 2024 Nexsuz</span>
      </div>
      <div class="footer-right">
        <span>Terms & Conditions | Privacy Policy</span>
      </div>
    </div>

    <!-- Progress Bar with Number Display -->
    <div class="progress-bar-container">
      <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
      <div class="progress-number">
        <span>{{ progressValue === 100 ? 'Completed' : progressValue + '%' }}</span>
      </div>
    </div>
  </footer>
</div>

<!-- <footer class="mat-footer">
  <mat-divider></mat-divider>
  <div class="footer-content">
    <div class="footer-left">
      <span>&copy; 2024 Your Company Name</span>
    </div>
    <div class="footer-right">
      <span>Terms & Conditions | Privacy Policy</span>
    </div>
  </div>

  <div class="progress-bar-container">
    <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
  </div>
</footer> -->

