<div class="user-homepage">

  <header class="header">
    <div class="logo"  (click)="refreshHomePage()">
       <img src="assets/images/logo.png" alt="logo">exsuz
    </div>
    <div class="container" *ngIf="!isMobile" style="margin-left: 100px;">
      <!-- <app-search></app-search> -->
      <div class="input-group custom-search-bar">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border-0"><i class="fas fa-search"></i></span>
        </div>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Search"
          [(ngModel)]="searchQuery"
          (input)="filterData()"
        >
    
        <div *ngIf="filteredData.length > 0" class="dropdown-menu show" style="max-height: 200px; overflow-y: auto; position: absolute; width: 100%; z-index: 999;">
          <a *ngFor="let item of filteredData" class="dropdown-item" href="#">{{ item }}</a>
        </div>
      </div>
    </div>
    
  
    <nav class="nav" [ngClass]="{'d-none d-md-flex': isDesktop}">
    
      <div class="padding-userpage" *ngIf="!isMobile">
      
        <button mat-button [routerLink]="['/signInUI']">
          {{ 'SIGN_IN' | translate }}</button>
        <button  mat-button  [routerLink]="['/signUpUI']">
          {{ 'SIGN_UP' | translate }}</button>
         <app-translate></app-translate>
      </div>
    </nav>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()" aria-label="Toggle navigation" *ngIf="isMobile">
      <mat-icon>{{ isSidebarOpen ? 'close' : 'menu' }}</mat-icon>
    </button>
    
  </header>

  <!-- Sidebar for mobile -->
  <div class="sidebar" [ngClass]="{'active': isSidebarOpen}">
    <div class="sidebar-header">
      <div class="logo" (click)="refreshHomePage()">
        <img src="assets/images/logo.png" alt="logo">exsuz
       </div>
       <app-translate></app-translate>
       
    </div>
    <ul class="list-unstyled">
      <li>
        <button  mat-button [routerLink]="['/signInUI']">{{ 'SIGN_IN' | translate }}</button>
      </li>
      <li>
        <button  mat-button [routerLink]="['/signUpUI']">{{ 'SIGN_UP' | translate }}</button>
      </li>
 
    </ul>
   
</div>

  <section class="slider_section">
    <div class="container" *ngIf="isMobile">
      <div class="input-group custom-search-bar">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border-0"><i class="fas fa-search"></i></span>
        </div>
        <input 
          type="text" 
          class="form-control" 
          placeholder="{{ 'SEARCH' | translate }}"
          [(ngModel)]="searchQuery"
          (input)="filterData()"
        >
    
        <!-- Dropdown with filtered results -->
        <div *ngIf="filteredData.length > 0" class="dropdown-menu show" style="max-height: 200px; overflow-y: auto; position: absolute; width: 100%; z-index: 999;">
          <a *ngFor="let item of filteredData" class="dropdown-item" href="#">{{ item  }}</a>
        </div>
      </div>
    </div>
    
  
      <div class="container">

       <div class="row">
          <div class="col-md-6">
              <h1 [@slideUp] *ngIf="fadeIn">{{ 'WELCOME' | translate }}</h1>
              <h2 [@slideFade] *ngIf="fadeIn">{{ 'HOME' | translate }}</h2>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img  src="/assets/images/gif.gif" alt="">
            </div>
          </div> 
      </div>
    </div>
  </section>

<!-- Floating Chat Button -->

<!-- <div class="floating-btn" *ngIf="!chatOpened">
  <button mat-fab color="primary" matTooltip="Messages" >
    <mat-icon>chat</mat-icon>
  </button>
</div> -->

<!--   
  <section class="slider_section" [@slideUp]>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/professional-img.png" [@slideUp] alt=""> 
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="detail-box">
           </div>
        </div>
      </div>
    </div>
  </section> -->